*, body{
    background-color: rgb(27, 21, 26);
    color: rgb(205, 206, 136);
}



.responsive_text {
    font-size: 1.5vw;
}

.button {
    color: rgb(205, 206, 136);
    border: 0px;
    margin-bottom: 3px;
}


@media only screen and (max-width: 1000px) {
    .responsive_text {
        font-size: 2.5vw;
    }
}
