<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
          crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"></script>
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'sets icon.png' %}"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    {% load sets_extras %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <style>
        *, body{
            background-color: {{ text.background }};
            color: {{ text.color|safe }};
        }

        .button {
            color: {{ text.color|safe }};
            border: 0px;
            margin-bottom: 3px;
        }
    </style>
</head>
<body>
    <script>
        let selected_bands = [];
        let band_bits = BigInt(0);
        let band_nums = {{ band_nums|safe }};

        function select(band) {
            let band_num = BigInt(band_nums.indexOf(band));

            let ind = selected_bands.indexOf(band);
            if (ind > -1) {
                // Unselect
                selected_bands.splice(ind, 1);
                band_bits = band_bits & ~(BigInt(2)**band_num);
            } else {
                selected_bands.push(band);
                band_bits |= (BigInt(2)**band_num);
            }
            document.cookie = "{{fest}}_selected_sets=" + selected_bands + "; path=/";
            refresh_selected();
        }

        function refresh_selected() {
            for (let ele of document.getElementsByClassName("band")) {
                ele.style.borderWidth=1;
                ele.style.borderColor="darkgrey";
                ele.style.backgroundColor="{{ text.background }}";
            }
            for (let band of selected_bands) {
                for (let ele of document.getElementsByClassName("band_" + band)) {
                    ele.style.borderWidth=3;
                    ele.style.borderColor="white";
                    ele.style.backgroundColor=ele.dataset.color;
                }
            }
            let share_link = document.getElementById("share_link");
            let param_loc = window.location.href.indexOf('?');
            if (param_loc < 0) {
                 param_loc = window.location.href.length;
            }
            let url = window.location.href.substring(0, param_loc);
            share_link.innerText = url + "?bands=" + band_bits;
        }

        function copy_bits() {
            let ele = document.getElementById("share_link");
            navigator.clipboard.writeText(ele.innerText);
            const toast = new bootstrap.Toast(document.getElementById("copy_toast"));
            toast.show();
        }

        // from https://stackoverflow.com/a/25346429
        function getCookie(name) {
            function escape(s) { return s.replace(/([.*+?\^$(){}|\[\]\/\\])/g, '\\$1'); }
            var match = document.cookie.match(RegExp('(?:^|;\\s*)' + escape(name) + '=([^;]*)'));
            return match ? match[1] : null;
        }

    </script>
    <script defer>
        // Check cookies
        let bands = getCookie("{{fest}}_selected_sets");
        if (bands !== null) {
            selected_bands = bands.split(",");
            let ind = selected_bands.indexOf('');
            if (ind > -1) {
                selected_bands.splice(ind, 1);
            }
            for (let band of selected_bands) {
                let band_num = BigInt(band_nums.indexOf(band));
                band_bits |= BigInt(2)**band_num;
            }
        }

        // Check url param
        var queryString = location.search;
        let params = new URLSearchParams(queryString);
        if (params.get("bands") !== null) {
            band_bits = BigInt(0);
            let band_num = BigInt(params.get("bands"));
            // Bands in url query
            selected_bands = [];
            for (let i = BigInt(0); i < band_nums.length; i++) {
                if (band_num & BigInt(2)**i) {
                    selected_bands.push(band_nums[i]);
                    band_bits |= BigInt(2)**i;
                }
            }
            document.cookie = "{{fest}}_selected_sets=" + selected_bands + "; path=/";
            window.history.replaceState({}, document.title, document.location.pathname);
        }

        setTimeout(refresh_selected, 10);
    </script>
    <div class="toast shadow-none" id="copy_toast" role="alert" aria-live="polite" aria-atomic="true" data-bs-delay="3000" style="position: fixed; right: 10%; top: 10%; border: 0px; text-align: center; z-index: 10000; width: 15em;">
        <div role="alert" aria-live="assertive" aria-atomic="true" style="font-size: larger; padding: 5px; border: 1px solid darkgrey; border-radius: 5px;">Copied to Clipboard</div>
    </div>
    <div class="container" style="flex-flow: row wrap; margin-top: 20px">
        <h5 class="card-title display-5">
            {{ text.title|safe }}
        </h5>
        {{ text.subtitle|safe }}
        <br>
        <div style="text-align: center;">
            Share Link: <a href='javascript:copy_bits()' id="share_link" class="btn button" type="button"></a>
        </div>
        <div class="d-flex flex-row flex-nowrap">
            <div style="width:15%; margin-right: 5px;">
                &nbsp;
            </div>
            {% for stage, color in stage_colors.items %}
                <div class="responsive_text" style="width:20%; margin-right: 10px; text-align: center; background-color: {{ color }}; padding: 5px;">
                    <span style="padding: 4px; margin: 5px; background-color: {{ text.background }}; border-radius: 5px;">{{ stage }}</span>
                </div>
            {% endfor %}
        </div>

        {% for time, stage in times.items %}
            <div class="d-flex flex-row flex-nowrap" style="height: 1.5em;">
                <div class="responsive_text_times" style="width:15%; margin-right: 5px; text-align: center; border-top: 1px dotted darkgrey; overflow: visible; word-break: keep-all; white-space: nowrap">
                    {{ time|date:'h:i A' }}
                </div>
                {% for stage_name, band in stage.items %}
                    <div {% if band.name %} class="band band_{{ band.name|cut:' ' }}" {% endif %} data-color="{{ stage_colors|get_item:stage_name }}" style="width:20%; position: relative; word-break: break-word; overflow-y: visible; margin-right: 10px;
                        {% if band.name %} cursor:pointer; border-left: 1px solid darkgrey; border-right: 1px solid darkgrey; {% else %} border-top: 1px dotted darkgrey;  {% endif %}
                        {% if band.position == "top" %} border-top: 1px solid darkgrey; {% endif %}
                        {% if band.position == "bottom" %} border-bottom: 1px solid darkgrey; {% endif %}
                        "
                        {% if band.name %} onclick="javascript:select('{{ band.name|cut:' ' }}')" {% endif %}
                        >
                        {% if band.position == "middle" %}
                        <span class="responsive_text" style="width: 100%; z-index: 10; text-align: center; position: absolute; padding: 4px; overflow-y: visible; background: none"><span style="padding: 4px; background-color: {{ text.background }}; border-radius: 5px;">{{ band.name }}</span></span> <span style="position:relative;"></span>
                        {% comment %} {% elif band.position == "bottom" %} <span style="font-size: small"> {{ band.period }} </span> {% endcomment %}
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</body>
