.responsive_text {
    font-size: 1.10vh;
}
.responsive_text_times {
    font-size: .75vw;
}

@media only screen and (max-width: 1081px) {
    .responsive_text {
        font-size: 1.35vh;
    }
    .responsive_text_times {
        font-size: 1vw;
    }
}

@media only screen and (max-width: 1000px) {
    .responsive_text {
        font-size: 1.1vh;
    }
    .responsive_text_times {
        font-size: 2vw;
    }
}
